body{
    background:#DDDDDD;
    color: #444;
}
.header{
    width: 100%;
    height: 80px;
    background: #669966;
    display: flex;
    align-items: center;
}
main{
    width: 500px;
    margin: 100px auto 0 auto;
    padding: 10px;
}
.form{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.input-contents{
    width: 99%;
    height: 40px;
    border-radius: 8px;
    /* border: 2px solid #339999; */
    font-size: 17px;
    border: none;
}
.error{
    display: none;
    color: red;
}
.btn{
    background: #444;
    color: white;
    padding: 5px 10px;
    line-height: 100%;
    height: 30px;
    margin-top: 20px;
    float: right;
}
.search{
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 7px;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 20px;

    box-sizing: border-box;

    margin-top: 20px;
    margin-bottom: 20px;
}
/* アイコン */
.search-icon{
     padding-right: 10px;
     box-sizing: border-box;
}
.input-search{
    width: 90%;
    height: 90%;
    font-size: 12px;
    border: none;
}
.input-search:focus{
  outline: none;
}
.list-item{
    background: white;
    border-radius: 8px;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.editText{
    display: none;
    width: 70%;
    margin-left: 15px; 
    font-size: 17px;
    border: none;
}
.fa-square-o{
    margin-right: 7px;
    margin-left: 20px; 
}
.fa-square-o:hover{
    cursor: pointer;
}
.fa-trash:hover{
    cursor: pointer;
}
.fa-check-square-o:hover{
    cursor: pointer;
}
.js-todo_list-text{
    /* display: none; */
    width: 70%;
    margin-left: 15px;
    font-size: 17px;
    font-weight: 400;
}

/*========================================
doneした場合
========================================*/
.js-off_list{
     background:white;
}
.js-done_list{
    background: gray;
}
.fa-check-square-o{
    margin-right: 7px;
    margin-left: 20px
}